<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/html"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Taco-Cloud</title>
</head>
<body>
<h2>Register here</h2>

<img th:src="@{/images/TacoCloud.png}"/>
<a th:href="@{/design}">Add another taco</a>
<br/>

<form method="post" th:object="${orderForm}">

    <h2>Finish your order</h2>
    <ul>
        <li th:each="taco : ${tacoOrder.tacos}">
            <span th:text="${taco.name}">TACO NAME</span>
        </li>
    </ul>

    <div class="grid">

        <label>Firstname</label>
        <input name="firstName" th:field="*{firstName}" type="text"><br/>
        <span class="validationError"
              th:if="${#fields.hasErrors('firstName')}"
              th:errors="*{firstName}">FIRST NAME ERROR</span>

        <label>Lastname</label>
        <input th:field="*{lastName}" type="text"><br/>
        <label>Street name</label>
        <input th:field="*{street}" type="text"><br/>
        <label>Street number</label>
        <input th:field="*{streetNr}" type="text"><br/>
        <label>city</label>
        <input th:field="*{city}" type="text"><br/>
        <label>State</label>
        <input th:field="*{state}" type="text"><br/>
        <label>zipCode</label>
        <input th:field="*{zipCode}" type="text"><br/>
        <label>Country</label>
        <input th:field="*{country}" type="text"><br/>
        <label>Email</label>
        <input th:field="*{email}" type="text"><br/>
        <label>Phone</label>
        <select th:field="*{phonePrefix}">
            <option th:each="pf : ${phonePrefixes}"
                    th:value="${pf.country}"
                    th:text="${pf.country + ' ' + pf.number}">Phone prefix</option>
        </select>
        <input name="phone" th:field="*{phone}" type="text"><br/>


    </div>

    <input type="submit" th:value="Proceed"/>
</form>
</body>
</html>