<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Hello App</title>
</head>
<body>

<p>Hello <span th:text="${name}"></span> </p>

<form method="post" th:action="@{/hello}" th:object="${userForm}">

    <label for="name">Name</label>
    <input id="name" th:field="*{name}" type="text"/><br/>

    <select th:field="*{phonePrefix}">
        <option th:each="pf : ${phonePrefixes}"
                th:value="${pf}"
                th:text="${pf}">Phone prefix</option>
    </select>

    <input type="submit"/>

</form>
</body>
</html>